<html>
<head>
<meta charset="utf-8">
    <title>GoBlog</title>
		<link rel="stylesheet" href="main.css" />
		
</head>
<body>
<div id="all0"></div>
<div id="all">
	<div class="headPage">
		<div class="headLinks">
		HOME | HOME | HOME | HOME | HOME | DONATE
		</div>
		<div class="headPage1">
		</div>
		<div class="headPage2">
		<h1> GoBlog </h1>
		</div>
	</div>

	<div class="box">

		<div class="userBox">
			<div id="profileBox">
			<b> {{.Username}} </b></br></br>
			This is a profile description,</br> what am I doing here</br>
			</div>


			<div id="otherUserBox">
			<b> Change User </b>
			<form action="/changeUser" method="POST">
			<div><textarea name="Name"></textarea></div>
			<div><input type="submit" value="Change User"></div>
			</form> 
			</br>
			<hr>
			<a href = "/newuser">New User</a>
			</div>
		</div>


		<div class="postBox">

			{{range $key, $value := .PostList}}
			{{template "header" $value}}
			
			{{end}}

			<div id="newpost">
			New Post
			<form action="/page/new" method="POST">
			<div><textarea name="text"></textarea></div>
			<div><input type="submit" value="save"></div>
			</form>
			</div>
		</div>




	</div>

</div>
<div id="all2"></div>
</body>
</html>
